/* variables */
:root {
  --color-Blue: #3f93f1;
  --color_Dark1: #1e1e1e;
  --color_Dark2: #252557;
  --color_Light1: #dfdfd4;
  --color_Light2: #c4c4c4;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: var(--color_Dark1);
  transition: all 0.5s ease;
  z-index: 100;
}

/* logo */
.logo_box {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color_Light1);
  transition: all 0.5s ease;
}

.logo_box i {
  font-size: 30px;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5 ease;
}

.logo_box:hover {
  color: var(--color-Blue);
}
